
<div class="container-fluid px-0" style="background: #e3e6e6;">
    <app-hero-carousel></app-hero-carousel>
    
    <section class="mx-4 mt-4" style="background: transparent;/*position: absolute;*//*bottom: -10px;*/top: 350px;/*margin-top: -4rem;*/">
        <div class="row d-flex d-lg-flex justify-content-center justify-content-lg-center gap-3" xxx="/*background: #e3e6e6;*/background: transparent;">
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">Gaming accessories</h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Fuji_Quad_Headset_1x._SY116_CB667159060.jpg">
                        <small>Headsets</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Fuji_Quad_Keyboard_1x._SY116_CB667159063_.jpg">
                        <small>Keyboards</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Fuji_Quad_Mouse_1x._SY116_CB667159063_.jpg">
                        <small>Computer mice</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Fuji_Quad_Chair_1x._SY116_CB667159060_.jpg">
                        <small>Chairs</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">Home essentials</h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/CleaningTool_1x._SY116_CB563137408_.jpg">
                        <small>Cleaning tools</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/HomeStorage_1x._SY116_CB563137408_.jpg">
                        <small>Home storage</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/HomeDecor_1x._SY116_CB563137408_.jpg">
                        <small>Home decor</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/HomeStorage_1x._SY116_CB563137408_.jpg">
                        <small>Bedding</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">Shop deals in Fashion</h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg">
                        <small>Jeans under $50</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DQC_APR_TBYB_W_TOPS_1x._SY116_CB623353881_.jpg">
                        <small>Tops under $25</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DQC_APR_TBYB_W_DRESSES_1x._SY116_CB623353881_.jpg">
                        <small>Dresses under $50</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DQC_APR_TBYB_W_SHOES_1x._SY116_CB624172947_.jpg">
                        <small>Shoes under $50</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">
                    <strong>
                    <span style="color: rgb(15, 17, 17);">New home arrivals under $50</span>
                </strong>
                </h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Home_Flip_Summer_2024_315_HP_NewArrivals_QuadCard_D_01_1x._SY116_CB555960040_.jpg">
                        <small>Kitchen &amp; dining</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Home_Flip_Summer_2024_316_HP_NewArrivals_QuadCard_D_02_1x._SY116_CB555960040_.jpg">
                        <small>Home improvement</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Home_Flip_Summer_2024_317_HP_NewArrivals_QuadCard_D_03_1x._SY116_CB555960040_.jpg">
                        <small>Decor</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/Home_Flip_Summer_2024_318_HP_NewArrivals_QuadCard_D_04_1x._SY116_CB555960040_.jpg">
                        <small>Bedding &amp; bath</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">
                    <strong>
                    <span style="color: rgb(15, 17, 17);">Refresh your space</span>
                </strong>
                </h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DesktopQuadCat_186x116_LP-HP_B08MYX5Q2W_01.23._SY116_CB619238939_.jpg">
                        <small>Dining</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DesktopQuadCat_186x116_home_B08RCCP3HV_01.23._SY116_CB619238939_.jpg">
                        <small>Home</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DesktopQuadCat_186x116_kitchen_B0126LMDFK_01.23._SY116_CB619238939_.jpg">
                        <small>Kitchen</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/DesktopQuadCat_186x116_health-beauty_B07662GN57_01.23._SY116_CB619238939_.jpg">
                        <small>Health &amp; beauty</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
            <div class="col col-12 col-md-3 col-lg-3 p-3" style="background: white;">
                <h5 class="fw-bold">
                    <strong>
                    <span style="color: rgb(15, 17, 17);">Most-loved watches</span>
                </strong>
                </h5>
                <div class="row">
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/WomenWatches_1x._SY116_CB564394432_.jpg">
                        <small>Women</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/MenWatches_1x._SY116_CB564394432_.jpg">
                        <small>Men</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/GirlWatches_1x._SY116_CB564394432_.jpg">
                        <small>Girls</small>
                    </div>
                    <div class="col col-6 mb-5">
                        <img class="img-fluid" src="assets/img/BoyWatches_1x._SY116_CB564394432_.jpg">
                        <small>Boys</small>
                    </div>
                </div>
                <a href="#" style="text-decoration: none;">See more</a>
            </div>
        </div>
    </section>
    <section class="mx-4 mt-4 p-4" style="background: white;">
        <div class="row">
            <div class="col">
                <h5 class="fw-bold">
                    <strong>
                    <span style="color: var(--N4QdCheV6mGo,#0f1111);">Best Sellers in Clothing, Shoes &amp; Jewelry</span>
                </strong>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/61Y8pQkviDL._AC_SY200_.jpg">
            </div>
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/612eTmq3hVL._AC_SY200_.jpg">
            </div>
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/71jHAk+ZO6L._AC_SY200_.jpg">
            </div>
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/61x-LF9fyYL._AC_SY200_.jpg">
            </div>
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/9171uzu8PEL._AC_SY200_.jpg">
            </div>
            <div class="col col-12 col-md-2 mb-5">
                <img class="img-fluid" src="assets/img/51WTFQEedhL._AC_SY200_.jpg">
            </div>
        </div>
    </section>
    <section class="mx-4 mt-4 p-4" style="background: white;">
        <div class="row">
            <div class="col">
                <h5 class="fw-bold">
                    <strong>
                    <span style="color: var(--N4QdCheV6mGo,#0f1111);">Best Sellers in Books</span>
                </strong>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/91ZSMtvdM3L._AC_SY200_.jpg" style="height: 200px;">
            </div>
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/81g+Hs6XF5L._AC_SY200_.jpg" style="height: 200px;">
            </div>
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/618INpEnVjL._AC_SY200_.jpg" style="height: 200px;">
            </div>
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/81a5X+c7kkL._AC_SY200_.jpg" style="height: 200px;">
            </div>
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/71jfsEP8G4L._AC_SY200_.jpg" style="height: 200px;">
            </div>
            <div class="col col-12 col-md-2">
                <img class="img-fluid" src="assets/img/91E1Ved67bL._AC_SY200_.jpg" style="height: 200px;">
            </div>
        </div>
    </section>
</div>